.App {
  display: flex;
  min-height: 100vh;
  text-align: left;
  background-color: #282c34;
  flex-direction: column;
  padding: 2vh;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 span {
  color: aqua;
}

.App-link {
  color: #09d3ac;
}

#Wizard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  color: black;
}

#Wizard .step {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 0;
  margin: 0 1em;
}

#Wizard .step:nth-child(1) {
  background-color: aquamarine;
}

#Wizard .step:nth-child(2) {
  background-color: cornflowerblue;
}

#Wizard .step:nth-child(3) {
  background-color: darksalmon;
}

#Wizard .step legend {
  background-color: white;
  border-radius: 0.3em;
  font-weight: bold;
  padding: 0.3em;
}

#Wizard .step[disabled] {
  opacity: 0.5;
}
